.taskpageheading{
    text-align: center;
    color: #ECEEEE;
    font-weight: 400;
}

.maincontainer{
    background-color: #163631;
    width: calc(100% - 300px - 25%);
    overflow: auto;
    height: 100vh;
}

.maincontainer::-webkit-scrollbar{
    display: none;
}

.buttoncontainer{
    display: flex;
    width: 100%;
}

.taskpagemainbuttion{
    width: calc(25% - 40px);
    padding: 20px 20px 40px;
    /*border-bottom-color: #75948F;*/
    border-bottom: 1px solid #75948F;
    text-align: center;
}

.countdisplay{
    border-radius: 20px;
    padding: 1px 11px;
    background-color: #2C574E;
    color: #75948F;
}

.bottonlable{
    background-color: #163631;
    border: none;
    /*margin: 5px;*/
    color: #75948F;
    /*padding: 1px 11px;*/
}

.datacollection{
    padding: 40px 0;
}

.tasks{
    /*padding: 20px;*/
    display: flex;
    /*margin: 40px 0;*/
}

.taskdetails{
    margin: 11px 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.tasknamestyle{
    margin: 0 10px;
    color: #75948F;
}

.checkboxstyle{
    background-color: #163631;
    color: #163631;
}

.statusstyle{
    text-align: center;
    width: 100px;
    background-color: green;
    border-radius: 50px;
    padding: 5px;
    color: #75948F;
}

